.bk{
    background-color: black;
    height: ;
}
.wh, .wh1{
    color: white;
    margin: 0;
    padding: 20px;
}
.orange{
    color: orange;
    margin: px;
    padding: 0px;
       
}
.wh1{
    height: 8px;
    
}
h3{
    color: red;
    font-size: 1.5em;
    
}
span{
    color: blue;
}
.center1, .center {
    font-weight: 900;
    text-align: center;
}
.st{
    font-size: 0.7em;
}
form{
    width: ;
}